:root{
  --50:#fff1f2;
  --100:#ffe4e6;
  --200:#fecdd3;
  --300:#fda4af;
  --400:#fb7185;
  --500:#f43f5e;
  --600:#e11d48;
  --700:#be123c;
  --800:#9f1239;
  --900:#881337;
  --950:#4c0519;
}
body{
    display: grid;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-columns: 1fr 4fr;
}