*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight:bold;
}
:root{
  --50:#fff1f2;
  --100:#ffe4e6;
  --200:#fecdd3;
  --300:#fda4af;
  --400:#fb7185;
  --500:#f43f5e;
  --600:#e11d48;
  --700:#be123c;
  --800:#9f1239;
  --900:#881337;
  --950:#4c0519;
}
body{
    display: grid;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-columns: 1fr 4fr;
}
.first-column{
  background-color:#f43f5e;
  grid-column: 1/2;
  font-weight: bold;
}
img[src$='.svg']{
  width: 25px;
  height: 25px;
  vertical-align:bottom;
  margin-right: 10px;
}
.section ul{
  list-style: none;
  margin-bottom: 35px;
}
.section li{
  margin-top: 15px;
}
.section:first-child{
  display: grid;
  margin-top: 15px;
  grid-template-columns: 1fr 7fr;
}
.section:first-child img{
  width: 35px;
  height: 35px;
  margin-top: 6px;
}
.section{
  margin-left: 35px;
  margin-top:45px ;
}
img:not([src$='.svg']){
  width:40px;
  height:40px;
  border-radius: 50%;
}
.row-1{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  column-gap: 100px;
}
.row-1,.row-2{
  margin-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
}
.first-item{
  display: grid;
  grid-template-columns: 25px 1fr;
}
input[type='search']{
  border-radius: 30px;
  padding:5px;
  appearance: none;
  border: none;
  background-color: #fecdd3;
  font-size: 20px;
} 
.top-marg{
  margin-top:10px;
}
.second-item{
  display:grid;
  align-items: center;
  grid-template-columns: repeat(3,4vw);
}
.row-2{
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-left: 35px;
}
.buttons{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
  column-gap: 20px;
}
button{
  background-color: #e11d48;
  color: white;
  border-radius: 60px;
  padding:10px 25px;
  border: none;
}
header{
  box-shadow: 10px 0px 10px grey;
  z-index: 2;
}
.text-container{
  display:flex;
  align-items: center;
  margin-bottom: 10px;
  gap:13px;
}
.row-2 .text-container .big-image{
  width:70px;
  height:70px;
}
.text-container span{
  font-size: 12px;
}
.text-container p{
  font-size: 28px;
}
main{
  padding:15px;
  background-color: rgb(230, 230, 230);
  z-index: 1;
}
article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:20px;
}
main > h2{
  margin:10px 0;
}
.box{
  width: 400px;
  border-radius: 10px;
  height:250px;
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  border-left: solid 10px #f43f5e;  
}
.icons{
  align-self:end;
  justify-self: end;
}